/* common-variables.css */
:root {
    --primary-color:#ccc;
    --secondary-color:#ddd;
    --header-color:#1f3559;
    --menu-Burger:#4068a9;
    --button-hover: #38d39f;
    --button-color:#3F51B5;
    --btn-font-color:white;
    --firstPie-color:#00e6e6;
    --secondPie-color:#80dfff;
    --thirdPie-color:#0099cc;
    

 
 
  }